[Unit]
Description=Kivy Secure Kiosk for MonsterPi
After=network.target

[Service]
Type=simple
User=kiosk
Group=kiosk
WorkingDirectory=/opt/kivyapp

EnvironmentFile=/etc/monsterpi.env
cont
ExecStart=/opt/kivyapp/venv/bin/python /opt/kivyapp/main.py
Restart=always
RestartSec=3

# hardening
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
RestrictRealtime=true
RestrictSUIDSGID=true
LockPersonality=true
MemoryDenyWriteExecute=true
PrivateDevices=true

ReadWritePaths=/opt/kivyapp/data

CapabilityBoundingSet=
AmbientCapabilities=

StandardOutput=null
StandardError=journal

[Install]
WantedBy=multi-user.target