[Unit]
Description=Kivy Secure Kiosk for MonsterPi
After=network.target

[Service]
Type=simple
User=kiosk
Group=kiosk
WorkingDirectory=/opt/MonsterPi

EnvironmentFile=/etc/monsterpi.env
ExecStart=/opt/MonsterPi/venv/bin/python /opt/MonsterPi/main.py
Restart=always
RestartSec=3

# hardening
NoNewPrivileges=true
#PrivateTmp=true
#ProtectSystem=strict
#ProtectHome=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
RestrictRealtime=true
RestrictSUIDSGID=true
LockPersonality=true
MemoryDenyWriteExecute=true
#PrivateDevices=true

ReadWritePaths=/opt/MonsterPi/

CapabilityBoundingSet=
AmbientCapabilities=

StandardOutput=null
StandardError=journal

[Install]
WantedBy=multi-user.target